body {
    display: flex;
    font-family: "Dancing Script", "Pacifico", 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 30px;
    flex-direction: column;
    justify-content: center;
    background: url("./img/bg_img4.jpg");
    background-repeat: repeat-y;
    background-size: 100vw auto;
    -webkit-box-reflect: below;
    margin-left: 0%;
    margin-right: 1%;
    margin-top: 0%;
    margin-bottom: 0%;
}
.main{
    margin-top: 0%;
    margin-left: 0%;
}
#a {
    color: black;
}

nav {
    display: flex;
    justify-content: space-evenly;
    height: 3vw;
    margin-top: 1.5vw;
    flex-wrap: wrap;
}

.title {
    //background-image: url("./img/bg_img1.jpg");
    margin-top: 0%;
    margin-left: 0%

}

.title>header> .restd {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 8vw;
    justify-content: center;
    margin: 1px;
    background-color: rgba(245, 233, 218, 0.678);
    background: url("./img/bg_img6.jpg");
    background-size: 100% auto;
    box-shadow: 6px 14px 38px rgb(48 7 7);
    opacity: 1;
    width: 100vw;
    border: 0.2px solid rgb(58, 33, 28);
}

.rest {
    display: flex;
    justify-content: stretch;
    margin: 10px;
    font-family: "Sofia", san-serif;
    font-style: italic;
    font-weight: 700;
}

div{
    margin: 1%;
}
.menu {
    text-align: center;
    font-size: 8vw;
}

.menul{
    font-family: "Pacifico", san-serif;
    color: rgb(24, 186, 56);
}

h1 {
    margin: 0;
    text-align: center;
    margin-top: 15px;
    color: rgb(197, 130, 42);
    font-size: 7vw;
}

h4,
p {
    margin: 0;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

h4 {
    font-weight: bolder;
    font-size: 3.5vw;
}

p {
    word-break: break-all;
    font-size: 3vw;
    text-align: left;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(170, 168, 168);
    border-radius: 0 4vw 0;
    box-shadow: 10px 23px 216px rgb(255 244 177);
    margin: 1%;
    background: -o-repeating-linear-gradient();
    background-color: rgba(184, 217, 245, 0.362);
    opacity: 1;
    margin: 1%;
}

.items{
    width: 100%;
    margin: 1%;
}
.item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.container {
    font-size: x-large;
    text-align: left;
    column-count: 3;
    column-gap: 5%;
}
.container>.item> #price{
    font-size: 3vw;
    margin:2px;
    font-weight: semi-bold;
}

@media only screen and (max-width: 550px) {
    .container {
        column-count: 1;
        text-align: center;
    }
    /*.title>header> .restd{
        font-size: 45px;
    }*/
    .menu{
        font-size: 45px;
    }
    h1{
        font-size: 35px;
    }
    h4{
        font-size: 20px;
    }
    p{
        font-size: 15px;
    }
    .container>.item> #price{
        font-size: 20px;
    }
}

@media only screen and (min-width: 700px) {
    .title>header> .restd{
        font-size: 60px;
    }
    .menu{
        font-size: 60px;
    }
    h1{
        font-size: 53px;
    }
    h4{
        font-size: 26px;
    }
    p{
        font-size: 22px;
    }
    .container>.item> #price{
        font-size: 26px;
    }
}

@media only screen and (max-width: 190px){
    .item{
        flex-wrap: wrap;
    }
}
@media only screen and (max-width:400){
    .rest{
        visibility: hidden;
        word-break: break-all;
    }
}

.rest {
    text-shadow: 0 -0.05em 0.2em #FFF, 0.01em -0.02em 0.15em #ff0099, 0.01em -0.05em 0.15em #ff00b5, 0.02em -0.15em 0.2em #ff00db, 0.04em -0.20em 0.3em #ff0086, 0.05em -0.25em 0.4em #ff00a2, 0.06em -0.2em 0.9em #ff0044, 0.1em -0.1em 1.0em #f80404;
    color: #ffe;
}

label{
    margin: 1%;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 4vw;
    line-height: 4;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    /* white-space: wrap; */
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

.search{
    display: flex;
    justify-content: space-around;
    //align-items:;
    margin:0%;
}

footer{
    background-color: black;
    text-align: center;
    color: aliceblue;
    width: 100vw;
}

input::placeholder{
    padding-left: 5%;
    color: rgb(195, 194, 194);
    font-size: 1.5vw;
}

.end{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0%;
}
